---
layout: default
title: Update
suppress_header: true
extra_css:
  - update.css
---

<div class="simple-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1>Update GitLab Community Edition</h1>
      </div>
    </div>
  </div>
</div>

<div class="wrapper container">
  <div class="row graphic-menu">
    <div class="col-md-12">
      <div class="row">
        <div class="heavy col-md-4">Omnibus package?

          <h5 class="title">Used our package server on Ubuntu / Debian?</h5>
          <p class="answer">
            sudo apt-get update
            <br>
            sudo apt-get install gitlab-ce
          </p>


          <h5 class="title">Used our package server on CentOS?</h5>
          <p class="answer">
            sudo yum install gitlab-ce
          </p>


          <h5 class="title">Want to upgrade from manual download to package server?</h5>
          <p class="answer">
            <a class="view-docs" href="/upgrade-to-package-repository">View our documentation on upgrading to the package repository</a>
          </p>

          <h5 class="title">Want to keep using manual download?</h5>
          <p class="answer">
            <a class="view-docs" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/update.md#updating-from-gitlab-6-6-x-and-higher-to-the-latest-version">View documentation here</a>
          </p>


        </div>



        <div class="heavy-middle col-md-4">Installation from source?
          <h5 class="title">Want to use an Omnibus package?
          </h5>
          <p class="answer">
            <a class="view-docs" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/update/README.md#upgrading-from-a-non-omnibus-installation-to-an-omnibus-installation">View documentation here</a>
          </p>
          <h5 class="title">Want to stay on source?</h5>
          <h5>
            <p class="question">Patch update?</p>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/update/patch_versions.md" class="answer">Universal update guide for patch versions</a>
          </h5>
          <h5>
            <p class="question">Major/minor update?</p>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/tree/master/doc/update" class="answer">View all incremental updates</a>
          </h5>
        </div>
        <div class="heavy col-md-4">Bitnami or other?
          <h5>
            <p class="title">Backup and restore to an Omnibus package</p>
            <a href="http://doc.gitlab.com/ce/raketasks/backup_restore.html" class="view-docs">View backup and restore page</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row graphic-menu" id="ee">
    <div class="heavy" style="font-size: 45px; text-align: center; margin-top: 0px;">Upgrading (to) GitLab Enterprise Edition</div>
    <div class="heavy" style="text-align: center; margin-top: 26px;">
      <h5 class="title" style="margin-bottom: 0;">
        Already using an Omnibus package?
      </h5>

      <p class="answer">Upgrade using the Omnibus package <a href="http://doc.gitlab.com/omnibus/#updating" class="answer">upgrade documentation</a>, with an <a href="https://packages.gitlab.com/gitlab/gitlab-ee" class="answer">Enterprise Edition package</a></p>


      <h5 class="title" style="margin-bottom: 0;">
        Upgrade your source installation to Enterprise Edition?
      </h5>

      <a href="https://gitlab.com/gitlab-org/gitlab-ee/blob/master/doc/update/7.8-ce-to-ee.md" class="answer">See the CE to EE upgrade documentation</a>


      <h5 class="title" style="margin-bottom: 0;">
        Set up your new integrations with Jira and Jenkins
      </h5>

      <p class="answer"><a href="http://doc.gitlab.com/ee/integration/jira.html" class="answer">Jira integration documentation</a> and <a href="http://doc.gitlab.com/ee/integration/jenkins.html" class="answer">Jenkins integration documentation</a></p>
    </div>
  </div>
</div>